* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #B4C292;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #4C061D;
    background-color: #75B9BE;
}

#reset-button{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #D17A22;
    color: #3B3923;
    border: none;
    border-radius: 1rem;
}

#newgame{
    padding:1rem;
    font-size: 1.25rem;
    background-color: #D17A22;
    color: #3B3923;
    border: none;
    border-radius: 1rem;
}

#msg{
    color: #4C061D;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide{
    display: none;
}